
img[src="//images.fallenlondon.com/icons/kataleptictoxicology_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/honeyjar.png")
}

img[src="//images.fallenlondon.com/icons/monstrousanatomy_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/tentacle.png")
}

img[src="//images.fallenlondon.com/icons/playerofchess_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/chesspiece.png")
}

img[src="//images.fallenlondon.com/icons/glasswork_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/mirror.png")
}

img[src="//images.fallenlondon.com/icons/shapelingarts_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/amber2.png")
}

img[src="//images.fallenlondon.com/icons/artisanredscience_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/dawnmachine.png")
}

img[src="//images.fallenlondon.com/icons/mithridacy_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/snakehead2.png")
}

img[src="//images.fallenlondon.com/icons/stewardofdiscordance_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/black.png")
}

img[src="//images.fallenlondon.com/icons/zeefaring_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/captainhat.png")
}

img[src="//images.fallenlondon.com/icons/chthonosophy_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/stalagmite.png")
}

img[src="//images.fallenlondon.com/icons/kataleptictoxicology_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/honeyjarsmall.png")
}

img[src="//images.fallenlondon.com/icons/monstrousanatomy_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/tentaclesmall.png")
}

img[src="//images.fallenlondon.com/icons/playerofchess_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/chesspiecesmall.png")
}

img[src="//images.fallenlondon.com/icons/glasswork_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/mirrorsmall.png")
}

img[src="//images.fallenlondon.com/icons/shapelingarts_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/amber2small.png")
}

img[src="//images.fallenlondon.com/icons/artisanredscience_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/dawnmachinesmall.png")
}

img[src="//images.fallenlondon.com/icons/mithridacy_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/snakehead2small.png")
}

img[src="//images.fallenlondon.com/icons/stewardofdiscordance_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/blacksmall.png")
}

img[src="//images.fallenlondon.com/icons/zeefaring_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/captainhatsmall.png")
}

img[src="//images.fallenlondon.com/icons/chthonosophy_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/stalagmitesmall.png")
}
