img[src="//images.fallenlondon.com/icons/kataleptictoxicology_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/kataleptictoxicology.png")
}

img[src="//images.fallenlondon.com/icons/kataleptictoxicology_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/kataleptictoxicologysmall.png")
}

img[src="//images.fallenlondon.com/icons/monstrousanatomy_sidebar.png"] {
    content: url("https://images.fallenlondon.com/icons/monstrousanatomy.png") !important;
}

img[src="//images.fallenlondon.com/icons/monstrousanatomy_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/monstrousanatomysmall.png")
}

img[src="//images.fallenlondon.com/icons/playerofchess_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/playerofchess.png")
}

img[src="//images.fallenlondon.com/icons/playerofchess_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/playerofchesssmall.png")
}

img[src="//images.fallenlondon.com/icons/glasswork_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/glasswork.png")
}

img[src="//images.fallenlondon.com/icons/glasswork_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/glassworksmall.png")
}

img[src="//images.fallenlondon.com/icons/shapelingarts_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/shapelingarts.png")
}

img[src="//images.fallenlondon.com/icons/shapelingarts_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/shapelingartssmall.png")
}

img[src="//images.fallenlondon.com/icons/artisanredscience_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/artisanredscience.png")
}

img[src="//images.fallenlondon.com/icons/artisanredscience_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/artisanredsciencesmall.png")
}

img[src="//images.fallenlondon.com/icons/mithridacy_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/mithridacy.png")
}

img[src="//images.fallenlondon.com/icons/mithridacy_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/mithridacysmall.png")
}

img[src="//images.fallenlondon.com/icons/stewardofdiscordance_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/stewardofdiscordance.png")
}

img[src="//images.fallenlondon.com/icons/stewardofdiscordance_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/stewardofdiscordancesmall.png")
}

img[src="//images.fallenlondon.com/icons/zeefaring_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/zeefaring.png")
}

img[src="//images.fallenlondon.com/icons/zeefaring_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/zeefaringsmall.png")
}

img[src="//images.fallenlondon.com/icons/chthonosophy_sidebar.png"]{
    content: url("https://images.fallenlondon.com/icons/chthonosophy.png")
}

img[src="//images.fallenlondon.com/icons/chthonosophy_sidebarsmall.png"]{
    content: url("https://images.fallenlondon.com/icons/chthonosophysmall.png")
}